* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Css generale*/
body {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

i.icon {

}

a {
    text-decoration: none;
}

.button{
    display: inline-block;
    border-radius: 20px;
}

.button.black {
    color: white;
    background: #292B2E;
}

.button.white {
    color: black;
    background-color: white;
}


/*Header*/
header {
    background-color: #255EE9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

#header-container {
    height: 100%;
    text-align: center;
}

#logo, #login-button, nav {
    display: inline-block;
    vertical-align: middle;
}

#logo {
    margin-top: 10px;
}

#logo img {
    width: 80px;
}

#login-button a{
    font-size: 10px;
    padding: 6px 8px;
}

nav {
    margin: 0 150px;
    line-height: 42px;
}

nav li {
    display: inline-block;
    margin: 0 12px;
}

nav li a {
    color: white;
    font-size: 11px;
}

nav li a:hover {
    text-decoration: underline;
}

/*Prima sezione con rana*/

#first-section {
    background-color: #255EE9;
    margin-top: 50px;
    background-image: url(img/jumbo.png);
    background-size: cover;
    height: 380px;
    position: relative;
}

#jumbo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 520px;
}

h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

#jumbo p {
    font-size: 14px;
    line-height: 20px;
}

#jumbo-buttons {
    margin-top: 15px;
    font-size: 14px;
}

#jumbo-buttons a {
    padding: 12px 20px;
    margin: 0 10px;
}

/*Sezioni main*/
main {
    width: 100%;
}